body{
    background-color: rgb(21,148,140);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: 'Reem Kufi', sans-serif;

}

div.image{
    /*background-image: url(typewriter.jpg);*/
    background-image: url(typewriter2.jpg);
    margin: 0 auto;
    /*height: 930px;
    width: 1676px;
    bottom: 0px;
    position: fixed;
    */
    z-index: 1;
    border: 1px solid red;
    position: absolute;
    width: 100%;
    padding-top: 55.49%;
    background-size: cover;
    bottom: 0px;
    
    
}



div.page{
    left: 24.92%;
    bottom: 17.8%;
    width: 45.95%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    height: 14.5%;
    background: white;
    font-family: 'Special Elite', cursive;
    position:absolute;
    font-size: 1vw;
}

div.bar{
    border: 1px solid rgb(86,58,40);
    background: rgb(86,58,40);
    width: 85%;
    height: 1%;
    z-index: 900;
    bottom: 18.85%;
    left: -1%;
    position: absolute;
}

div.bar-tab{
    border: 1px solid rgb(86,58,40);
    background: rgb(86,58,40);
    height: 4%;
    width: 1.5%;
    position: absolute;
    bottom: 18.85%;
    left: 26.6%;
}

div.ends-left{
    background-color: rgb(225,161,37);
    width: 3%;
    height: 10%;
    position: absolute;
    z-index: 999;
    bottom: 13.85%;
    left: -4%;
}
div.ends-right{
    background-color: rgb(225,161,37);
    width: 3%;
    height: 10%;
    position: absolute;
    z-index: 999;
    bottom: 13.85%;
    left: 84%;
    /* 88%*/
}
div.side-bar{

    top:  0px;
    left: -8vw;
    width: 10vw;
    height: 100%;
    z-index: 10;
    position: fixed;
}

div.side-bar-tab{
 
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: white;
    text-align: right;
    padding-right: 2.1vw;
    font-size: 1vw;

}

div.side-bar-tab-icon{
    height: 35px;

}

div.icon{
    top: 0px;
    right: 0px;
    position: absolute;
    padding-top: 0.1vh;
    padding-bottom: 1vh;;
    color: white;
    font-size: 1.5vw;
}